body {
 width: 100%;
}

.logo {
    height: 150px;
    background-image: url("img/pattern.png");
    background-color:#59a9e8 ;
}

.logo-img {
    width: 250px;
    padding-top: 70px;
    padding-left: 5px;
}

.edit{
    color: #7c7e80;
    
}

a {
   color: #23AAE5; 
   text-decoration: none;
}

.giallo {
    background-color: yellow;
}

.row.head{
    background-color: #5db7dd;
    color: white;
}

.row1, .row3{
    background-color: #cbecfb;
    color: black;
}

.left{
    margin-right: 80px;
}
.center{
    margin-right: 80px;
}

h4{
    color: #7c7e80;
}


.monitor{
    color: white;
    height: 200px;
    background-image: url("./img/monitor.jpg");
    background-repeat: no-repeat;
}

.graph{
    color: white;
    height: 200px;
    background-image: url("./img/graph.jpg");
    background-repeat: no-repeat;
}

h3{
    padding-top: 10px;
    padding-left: 10px;
}